<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs de Acesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="sidebar">
        <h1 class="titulo">Menu</h1>
        <ul>
            <li><a href="{{ url_for('cadastrar') }}">Cadastrar</a></li>
            <li><a href="{{ url_for('usuarios') }}">Usuários</a></li>
            <li><a href="{{ url_for('painel') }}">Painel</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a><li>
        </ul>
    </nav>
    <main>
        <h1 class="titulo">Logs de Acesso</h1>

        <section class="container">
            <div style="display: flex; justify-content: space-between;">
                <h2>Todos os Logs</h2>
                <button class="btn" onclick="window.location.href='{{ url_for('exportar_logs') }}'">Exportar</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in painel %}
                    <tr>
                        <td>{{ log.usuario.nome }}</td>
                        <td>{{ '🟢 Liberado' if log.status == 'liberado' else '🔴 Bloqueado' }}</td>
                        <td>{{ log.timestamp.strftime('%d/%m/%Y') }}</td>
                        <td>{{ log.timestamp.strftime('%H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>