<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="sidebar">
        <h1 class="titulo">Menu</h1>
        <ul>
            <li><a href="{{ url_for('cadastrar') }}">Cadastrar</a></li>
            <li><a href="{{ url_for('usuarios') }}">Usuários</a></li>
            <li><a href="{{ url_for('painel') }}">Painel</a></li>
        </ul>
    </nav>

    <main>
        <section id="container">
            <h1 class="titulo">Perfil do Usuário</h1>
            <div class="container">
                <div class="user-perfil">
                    <div class="container">
                        <div class="user-image">
                            {% if usuario.foto_base64 %}
                                <img src="data:image/jpeg;base64,{{ usuario.foto_base64 }}" alt="Imagem do Usuário">
                            {% else %}
                                <img src="{{ url_for('static', filename='default.jpg') }}" alt="Imagem do Usuário">
                            {% endif %}
                        </div>
                        <label class="tag" id="status-text">{{ 'Liberado' if usuario.status == 'liberado' else 'Bloqueado' }}</label>
                    </div>

                    <div class="container" id="info">
                        <h2>Informações</h2>
                        <label>Nome: <p>{{ usuario.nome }}</p></label>
                        <label>Email: <p>{{ usuario.email }}</p></label>
                        <label>Data Nasc: <p>{{ usuario.data_nascimento }}</p></label>
                        <label>CPF: <p>{{ usuario.cpf }}</p></label>
                    </div>

                    <div class="container" id="acoes">
                        <div>
                            <span>Status de Acesso</span>
                            <label class="check-acesso">
                                <input type="checkbox" id="acesso" name="status" value="liberado" 
                                       {{ 'checked' if usuario.status == 'liberado' else '' }}>
                            </label>
                        </div>

                        <div id="acoes">
                            <button class="btn">Editar</button>
                            <button class="btn">Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h2>Acessos do Usuário</h2>
            <div class="filtros">
                <select>
                    <option value="todos">✨ Todos</option>
                    <option value="entrada">🟢 Entrada</option>
                    <option value="saida">🔴 Saída</option>
                </select>
                <label for="nome" class="input-text">
                    <input type="text" id="nome" name="nome" placeholder="Dia da Semana">
                </label>
                <label for="data" class="input-text">
                    <input type="date" id="data" name="data">
                    até
                    <input type="date" id="data" name="data">
                </label>
                <label for="data" class="input-text">
                    <input type="time" id="time" name="time">
                    até
                    <input type="time" id="time" name="time">
                </label>
            </div>

            <table>
                <thead>
                    <th>Acesso</th>
                    <th>Dia da Semana</th>
                    <th>Data</th>
                    <th>Horário</th>
                </thead>
                <tbody>
                    <tr>
                        <td>🟢 Entrada</td>
                        <td>Quarta</td>
                        <td>69/69/69</td>
                        <td>69:69</td>
                    </tr>
                    <tr>
                        <td>🔴 Saída</td>
                        <td>Segunda</td>
                        <td>96/96/96</td>
                        <td>96:96</td>
                    </tr>
                    <tr>
                        <td>🟢 Entrada</td>
                        <td>Segunda</td>
                        <td>69/69/69</td>
                        <td>69:69</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <script>
        document.getElementById("acesso").addEventListener("change", function() {
            var statusText = document.getElementById("status-text");
            var status = this.checked ? 'liberado' : 'bloqueado';

            statusText.textContent = status.charAt(0).toUpperCase() + status.slice(1);

            var usuarioId = {{ usuario.id }};
            var formData = new FormData();
            formData.append('status', status);
            formData.append('usuario_id', usuarioId);

            fetch('/usuario/' + usuarioId + '/atualizar_status', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    console.log('Status atualizado com sucesso!');
                } else {
                    console.log('Erro ao atualizar status');
                }
            });
        });
    </script>
</body>
</html>
